 body{
  background-color:blue;
  font-family: verdana; 
  }
h1{
color:red;
size: 1000px;
 text-decoration-line: underline;
}
  p{
 color:#666699;
  }
h2{
 color:#006400;
 text-decoration-line:underline;
}
ul{
 color:#8c8c8c;
}
ol{
 color:#8c8c8c;
}
