
h1{
color:red;
size: 1000px;
 text-decoration-line: underline;
}
 body{
  background-color:blue;
  font-family: verdana; 
  }
  p{
 size:1px;
  font-family: verdana; 
  }
h2{
 color:#006400;
 text-decoration-line:underline;
}
